.booking-container{
    display: flex;
    width: 100%;
    .left-section{
        width: 65%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 1rem;
        padding: 1rem;
        border-radius: 4px;
        .turf-details{
            display: flex;
           
            border-bottom: 2px solid #378400;
            padding-bottom: 2rem;
            .left{
                display: flex;
                width: 50%;
                img{
                        object-fit: contain;
    width: -webkit-fill-available;
    border-radius: 4px;

                }
            }
            .right{
                display: flex;
                flex-direction: column;
                margin-left: 3rem;
            
                h1{
                    margin-bottom: 1rem;
                }
            }
        }
        .sport-selection{
            display: flex;
            flex-direction: column;
            padding-bottom: 2rem;
            padding-top: 1rem;
            border-bottom: 2px solid #378400;
        }
        .turf-type{
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            padding-bottom: 2rem;
            .tag-container{
                margin-top: 1rem;
                padding-left: 1.5rem;
                .selected-tag{
                    background-color: #0056AC !important;
                    color: #fff !important;
                    border-radius: 16px;
                    border: none !important;
                    padding: 0.4rem;
                }
                .ant-tag{
                    background: none;
                    color: #000;
                    border: 1px solid #378400;
                    border-radius: 16px;
                    padding: 0.4rem;
                }
            }

        }

    }
    .right-section{
        display: flex;
        background-color: #fff;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        margin: 1rem;
        border-radius: 4px;
        .booking-form{
            border: 1px solid #378400;
            border-radius: 4px;
            padding: 1rem;
            margin-bottom: 1rem;
            .object-container{
                display: flex;
                flex-direction: column;
                padding: 0.5rem 0rem;
                h4{
                    font-weight: 500;
                }
                .date-container{
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;
                    padding: 0.5rem 0;
                   
                }
            }
        }
        .amount-summary{
            border: 1px solid #378400;
            border-radius: 4px;
            padding: 1rem;
            h4{
                font-weight: 400;

            }
            .total{
                font-weight: 500 !important;
                color: #0056AC;
            }
        }
        .confirm{
            
                background: #378400;
                color: #fff;
                border-radius: 8px;
                margin-top: 3rem;
            
        }

    }
}