.venue-list-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    h4{
        font-size: 1.3em;
        padding-left: 5%;
    }
    .venue-container{
        display: grid;
        grid-template-columns: auto auto auto;

        padding-left: 4rem;

        .venue-box{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border-radius: 8px;
            cursor: pointer;
            img{
                width:300px;
            }
            span{
                width: 100%;
            }
            h5{
                margin-bottom: 0.3rem;
            }
            h4{
                font-size: 1.2em;
                padding: 0;
            }
        }   
    }
}