.venue-page{
    display: flex;
    width: 100%;
    justify-content: center;
    .venue-detail-container{
        display: flex;
        flex-direction:column;
        padding: 2rem;
        .venue-box{
            img{
                width: 800px;
            }
            .venue-info{
                margin-top: 1rem;
                h4{
                    font-size: 1.4em;
                    font-weight: bold;
                    margin-bottom: 0.7rem;
                }
                h5{
                    font-size: 1em;
                    margin-bottom: 0.5rem;
                    font-weight: 500  !important;
                }
                .bottom{
                    margin-top: 1rem;
                    button{
                        border-radius: 8px;
                        min-width: 150px;
                        margin-right: 0.5rem;
    
    
    
                    }
                    .check{
                        border: 1px solid #378400;
                    }
                    .bulk{
                        background: #225201;
                        color: #fff;
                    }
                    .book{
                        background: #378400;
                        color: #fff;
                    }
                }

            }
        }
    .path{
        font-weight: 600;
        margin-bottom: 1rem;
    }
    }
}
